.moviesList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
    flex-wrap: wrap;
}
.otherOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fullList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
text-align: center;
}
.selectCategory{
        width: 18% !important;
}
.paddingFrame{
    padding-bottom: 5px;
}